/* stijlregels die voor beide errorpagina's gelden */


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Staatliches', cursive;
    background-position: center center;
    /*dit is voor waar altijd de focus op moet liggen bij het veranderen van schermgrootte*/
    background-attachment: fixed;
    background-size: cover;
    color: white;
    background-color: transparent;
}

@media screen and (min-width:992px) {
    body {
        font-size: 50px;
        line-height: 75px;
        /*em betekent dat de grootte van het leertje m wordt genomen als lettergrootte van de gekozen font*/
    }
