/* specifieke stijlregels voor 403-pagina */


body {
    background-color: lightblue;
    background-image: url(/afbeeldingen/unsplash-403-compr.jpg);
}

@media screen and (min-width:500px) {
    body {
        font-size: 30px;
        line-height: 45px;
        /*em betekent dat de grootte van het leertje m wordt genomen als lettergrootte van de gekozen font*/
    }

    div {
        margin-left: 80px;
        margin-top: 60px;
    }
}

@media screen and (min-width:900px) {
    div {
        margin-left: 120px;
        margin-top: 40px;
    }
}
