/* in tent.min.css wijzig je NIETS */
/* schrijf in dit bestand je eigen stijlregels om opmaak te regelen die NIET via tent.min.css aangebracht kan worden */

body {
    font-family: 'PT Sans', sans-serif;
}

header figure {
    width: 65px;
    height: 65px;
}

li {
    padding: 0px !important;
    padding-right: 10px !important;
}

h1 {
    font-family: 'Charm', cursive;
}

.container {
    text-align: center;
    margin: auto;
}

a {
    color: white;
    background-color: transparent;
}

nav li {
    margin-top: 25px;
}

.bg-color-primary {
    /*navigatiebalk kleur*/
    background-color: #272726;
    color: white;
}

.title {
    color: #272726;
    background-color: transparent;
}

.bg-color-lighter {
    background-color: #EBE8E8;
    color: black;
}

.button.button--secondary:hover,
.button.button--secondary:focus,
.button.button--secondary:active {
    border-color: #272726;
    background-color: #629BB8;
    color: white;
}

.button--outlined.button--secondary {
    border-color: #629BB8;
    color: #629BB8;
}

a:hover,
a:focus,
a:active {
    color: #629BB8;
}

footer {
    font-family: 'Staatliches', cursive;
    background-color: #272726;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 45px;
}

footer a {
    color: #FFD700;
    background-color: transparent;
}
